footer {
  color: #fff;
  background-color: #222;
  padding: 50px 0 0 0;

  margin-top: 100px;

  li {
    font-size: 14px;
    color: #828181;
    font-family: 'Roboto Mono', monospace;
    margin-bottom: 20px;
    position: relative;

    a {
      &::before {
        content: ' > ';
        position: absolute;
        right: 105%;
      }
    }
  }

  .white-title {
    font-size: 22px;
    line-height: 24px;
    padding-bottom: 30px;
    margin-bottom: 30px;
    font-family: 'Oswald', sans-serif;
    height: 40px;
    @media (max-width: 768) {
      padding-bottom: 0px;
      font-size: 20px;
      margin-bottom: 0px;
      line-height: 18px !important;

    }
    @media (max-width: 576px) {
      font-size: 18px;
      padding: 0;
      text-align: center;

    }
  }

  .contact-info {
    .contact-info-phones, .contact-info-mail, .contact-info-map, .contact-info-time {
      font-size: 14px;
      color: #828181;
      margin-bottom: 20px;

      svg {
        padding-right: 10px;
        color: #fff !important;
        font-size: 24px;
      }
    }

    p, a {
      font-family: 'Roboto Mono' !important;
    }

    .contact-info-phones {
      font-size: 18px;
    }

    p {
      display: inline-block;
    }
  }

  .developer {
    p {
      font-size: 14px;
      color: #828181;

      a {
        font-size: 15px;

      }
    }
  }
}